body{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper{
  width:350px;
  border: 1px solid black;
  /* color: white; */
  background: rgba(199, 203, 235, 0.274);
  padding-inline: 25px;
  border-radius: 10px;
  padding-bottom: 20px;
}

.wrapper > h1{
  font-size: 40px;
}

#loginform{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#loginform > label{
  font-size: 20px;
}

#loginform > input{
  padding: 7px;
  padding-inline: 10px;
  outline: none;
  color: rgb(9, 1, 1);
  font-size: 18px;
  border-radius: 8px;
  border: none;
  margin-bottom: 10px;
  border: 1px solid black;
}
#loginform > button{
  font-size: 18px;
  padding: 5px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: #4a4df5;
  padding: 7px;
  font-weight: 700;
  font-size: 20px;
  color: rgb(2, 2, 60);
  border: 1px solid black;
}
#loginform > p{
  display: none;
  font-size: 14px;
  color: tomato;
  margin: 0;
  margin-top: -11px;
  padding-left: 5px;
}

.required{
  display: block;
  border: 2px solid tomato;
}